.elementsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elementsList h2{
    font-size: 18pt;
    font-weight: 600;
    color: rgb(36, 161, 184);
    margin: 20px;
}

.elementsList div {
    color: white;
    font-size: 14pt;
    font-weight: 600;
    display: flex;
    width: max-content;
}

.idElement{
    width: 48px;
    justify-content: center;
    align-content: center;
    aspect-ratio: 1 / 1;
}

.elementsList div span, .options {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 8px;
    align-items: center;
    background: linear-gradient(to right, rgb(36, 104, 194), rgb(38, 188, 207));
}

.options a {
    font-size: 17pt;
    margin: 0 10px;
}

#trash:hover{
    color: rgb(192, 44, 44);
}
#edit:hover{
    color: rgb(24, 43, 209);
}
#view:hover{
    color: rgb(0, 0, 0);
}