.topBar {
  background-color: transparent;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 0 40px;
  box-shadow: 0 1px 100px 0.01px rgba(0, 0, 0, 0.438);
}
  
  .nameLogo{
    font-size: 18pt;
    font-weight: 700;
    background: linear-gradient(to right, rgb(36, 104, 194), rgb(38, 188, 207)); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
  }
  
  .topBarButtons{
    width: auto;
    display: flex;
    position: absolute;
    left: 50%;
    right: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .buttonBar{
    margin-left: 20px;
    color: white;
    height: 40px;
    align-content: center;
    font-weight: 500;
    color: rgb(36, 161, 184);
    padding: 0 5px;
  }
  
  .buttonBar:hover{
    background-color: rgb(36, 161, 184);
    color: white;
    transition: 0.3s;
  }