.imgContainer {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: -2;
}

.imgContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 133, 148, 0.336);
  z-index: -1;
}

#textImg {
  z-index: 0;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
  font-size: 28pt;
  font-weight: 400;
  text-align: center;
}

.imgMain {
  width: 100%;
  height: 100%;
  z-index: -2;
  object-position: center top;
  object-fit: cover;
}

.listContainer {
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translate(-50%, -10%);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listContainer h1 {
  z-index: 1;
  font-size: 30pt;
  font-weight: 800;
  color: #26b9ce;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
}

.content {
  width: auto;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  max-width: 100%;
  flex: 1;
  display: flex;
}

.CreateDoctor_btn {
  margin: 10px;
  padding: 10px;
  background-color: #23be4a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14pt;
  font-weight: 600;
  cursor: pointer;
}
